- title t('.title')

- content_for :buttons do
  = admin_button_tag :new, new_admin_group_url, :class => 'new'

%p!= t('.help')

- if @groups.empty?
  %p.no-items!= t('.no_groups', :url => new_admin_group_url)
- else
  %ul#pages-list
    = render @groups
