- title t('.title')


- content_for :actions do
  = render 'admin/shared/actions/users'

%p!= t('.help')
=# semantic_form_for @users, :url => admin_users_url, :html => { :class => 'save-with-shortcut' } do |f|

%fieldset{:class=>"foldable"}
  %legend
    %span
      Accounts
  - @users.each do |user|
    %li{ :class => "item" }
      %a{:href=>"/admin/users/#{user._id}/edit"}
        %strong= user.firstname