- title t('.title')


- content_for :actions do
  = render 'admin/shared/actions/users'

%p!= t('.help')
=# semantic_form_for @users, :url => admin_users_url, :html => { :class => 'save-with-shortcut' } do |f|

- if @users.empty?
  %p.no-items!= t('.no_users', :url => new_admin_user_url)
- else
  %ul#pages-list
    = render @users

